DEBUG=True
HOST=http://127.0.0.1:8000
SERVER=.appseed.us
ALLOWED_HOSTS="127.0.0.1"

DB_NAME=ekinerja
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=123456
SECRET_KEY=Dimas$12dinas*?1
